.home_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.home_container h1{
    font-size: 2.5em;
    margin-bottom: .5em;
}

.home_container h1 span{
    color: yellow;
    padding:0 0.2em ;
    background-color: black ;
}

.home_container p{
    margin-bottom: 1.5em;
    color: grey;
}

.home_container img{
    width: 100px;
    margin: 2em 0em;
}

