.footer{
    background-color: black ;
    color: white;
    padding: 3em;   
    text-align:center;
    margin-top: 400px;
}

.social_list{
    display: flex; 
    justify-content: center;
    list-style-type: none ;
}

.social_list li{
    margin: 0 1em;
}

.social_list li:hover { 
    color: yellow ;
}
